* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #f0dfc8;
    background-size: 200vh 120vw;
    font-size: 100%;
    
}
 
.cabecalho {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 12px;
}

.logo {
    display: flex;
    align-self: flex-start;
    height: 60px;
    width: 60px;
    overflow: hidden;
}

.logo:hover {
    transform: scale(2.2);
}

.opcoes {
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.opcao:hover {
    color: #ebbd7d;
}

.botao {
    background: white;
    color: black;
    width: 10vw;
    border-radius: 6px;
    padding: 4px 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    transition: 2s;
}

main {
    padding: 40px;
    height: 80vh;
}
.principal {
    border-top: 0.4px solid white;
    border-bottom: 0.4px solid white;
    display: flex;
    justify-content: space-between;
}

.textos {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.h1 {
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    color: #6F1A07;
    padding: 5px 30px;
}


.p {
    font-size: 20px;
    color: black;
    font-family: 'Teko', sans-serif;
    padding: 20px 30px;
}

.gatos {
    width: 25vw;
    height: 20vh;
    display: flex;
    align-self: flex-start;
}

.gatos:hover {
    transform: scale(1.1);
}

.imagem {
    width: 25vw;
    height: 40vh;
    display: flex;
    align-self: flex-end;
}

.imagem:hover {
    transform: scale(1.1);
}


.rodape {
    display: flex;
    justify-content: center;
}

 @media screen and (max-width: 300px) {
        .opcoes {
            flex-direction: column;   
        }  
        .logo {
            display: none;
        }

    }
        
    
